.center {
  margin: auto;
}
.center .slide-content {
  display: flex;
}
.center .slide-content p { 
  margin: auto;
}
.centercode .slide-content {
  display: flex;
}
.centercode .slide-content pre {
  margin: auto;
}
